.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 60px;
  background-color: aqua;
}

.header-button {
  width: 80px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
}

.header-form {
  display: flex;
  gap: 20px;
}

.header-input {
  height: 40px;
  font-size: 20px;
  padding: 0 10px;
}
